certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
click==6.7
coverage==4.4.1
colorama==0.3.9
EasyProcess==0.2.3
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
Flask-Bcrypt==0.7.1
Flask-Migrate==2.1.0
Flask-Script==2.0.5
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.13.3
pkg-resources==0.0.0
pluginlib==1.10.5
psycopg2==2.7.3.1
pylint==1.7.2
python-qt-binding==0.3.2
pytz==2017.2
scikit-learn==0.19.1
scipy==1.0.0
six==1.10.0
sklearn==0.0
SQLAlchemy==1.1.14
tf==1.11.9
tf-conversions==1.11.9
tf2-geometry-msgs==0.5.16
tf2-kdl==0.5.16
tf2-py==0.5.16
tf2-ros==0.5.16
tf2-sensor-msgs==0.5.16
Werkzeug==0.12.2
wrapt==1.10.11
xacro==1.11.2